@import "generic/colors";
@import "generic/helpers";
@import "generic/zindex";
@import "generic/mixins";

$cell-size: 3em;

.sudoku {
    @include vendor(box-sizing, border-box);
}

.sudoku__block--light {
	background-color: #fff;
}

.sudoku__block--dark {
	background-color: #666;
}

.sudoku__cell {
	width: $cell-size;
	height: $cell-size;
	background-color: #ccc;
	border: 1px solid #000;
    cursor: default;
    font-weight: bold;
    text-align: center;
}

.sudoku__cell--dynamic {
    position: relative;
    font-weight: normal;
    cursor: pointer;

    &:hover {
        background-color: #888;
    }

    transition: background-color 300ms;
}

.number-picker {
    width: $cell-size * 3;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: $zindex-omega;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
}

.number-picker__cell {
    width: $cell-size;
    height: $cell-size;
    background-color: $numberPicker-cell-bg;
    border: 1px solid $numberPicker-cell-border;
    text-align: center;

    &:hover {
        background-color: #888;
    }

    transition: background-color 300ms;
}