@import "generic/colors";
@import "generic/helpers";

$cell-size: 3em;

.sudoku__block--light {
	background-color: #fff;
}

.sudoku__block--dark {
	background-color: #666;
}

.sudoku__cell {
	width: $cell-size;
	height: $cell-size;
	background-color: #ccc;
	border: 1px solid #000;
    cursor: default;
    font-weight: bold;
    text-align: center;
}

.sudoku__cell--dynamic {
    font-weight: normal;
    cursor: pointer;

    &:hover {
        background-color: #888;
    }

    transition: background-color 300ms;
}

.number-picker {
    border-radius: 5px;
}

.number-picker__cell {
    width: $cell-size;
    height: $cell-size;
    background-color: $numberPicker-cell-bg;
    border: 1px solid $numberPicker-cell-border;
    text-align: center;
}