@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/svadocz\/Dev\/html-sudoku\/sass\/main\.scss}line{font-family:\000031}}
.sudoku__block--light {
  background-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/svadocz\/Dev\/html-sudoku\/sass\/main\.scss}line{font-family:\000035}}
.sudoku__block--dark {
  background-color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/svadocz\/Dev\/html-sudoku\/sass\/main\.scss}line{font-family:\000039}}
.sudoku__cell {
  width: 2em;
  height: 2em;
  background-color: #ccc;
  border: 1px solid #000;
  cursor: default;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/svadocz\/Dev\/html-sudoku\/sass\/main\.scss}line{font-family:\0000317}}
.sudoku__cell > span {
  width: 100%;
  display: block;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/svadocz\/Dev\/html-sudoku\/sass\/main\.scss}line{font-family:\0000324}}
.sudoku__cell--dynamic {
  font-weight: normal;
  cursor: pointer;
  transition: background-color 300ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/svadocz\/Dev\/html-sudoku\/sass\/main\.scss}line{font-family:\0000328}}
.sudoku__cell--dynamic:hover {
  background-color: #888;
}
